In [1]:
import pandas as pd
import os

In [2]:
path = os.listdir('History')
path

['history10.csv',
 'history11.csv',
 'history12.csv',
 'history13.csv',
 'history14.csv',
 'history15.csv',
 'history16.csv',
 'history17.csv',
 'history18.csv',
 'history19.csv',
 'history20.csv',
 'history21.csv',
 'history22.csv',
 'history23.csv',
 'history24.csv',
 'history25.csv',
 'history26.csv',
 'history27.csv',
 'history28.csv',
 'history29.csv',
 'history30.csv',
 'history31.csv',
 'history32.csv',
 'history33.csv',
 'history34.csv',
 'history35.csv',
 'history8.csv',
 'history9.csv']

In [3]:
df = pd.read_csv('History/' + path[0], index_col=0)
df

,ir1,ir2,ir3,ir4,ir5,ir6,ir7,angle,turn,move
ir0,,,,,,,,,,
100.000000,46.568542,100.000000,32.426407,20.000000,32.426407,20.000000,32.426407,81.603253,5,0
100.000000,52.228953,100.000000,29.162219,20.114595,29.162219,20.114595,36.671715,76.603253,0,5
100.000000,44.479934,100.000000,35.664418,25.114595,29.731087,20.552038,37.349666,77.177775,5,0
100.000000,51.053810,100.000000,32.703884,25.520611,27.155225,20.905300,43.063161,72.177775,5,0
100.000000,60.038053,100.000000,30.392549,26.214969,25.144210,21.509437,50.871557,67.177775,0,5
...,...,...,...,...,...,...,...,...,...,...
100.000000,69.417621,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,-73.292550,0,5
97.313476,65.882087,97.313476,100.000000,100.000000,100.000000,100.000000,97.777843,-74.228755,-5,0
100.000000,66.171944,89.057029,100.000000,100.000000,100.000000,100.000000,98.189537,-69.228755,-5,0
100.000000,67.052690,82.634923,100.000000,100.000000,100.000000,100.000000,99.440490,-64.228755,0,5
100.000000,64.140567,79.133886,100.000000,100.000000,100.000000,100.000000,95.281546,-65.115468,0,5

In [4]:
#pop path[0]
path.pop(0)

'history10.csv'

In [5]:
for i in path:
    df = pd.concat([df, pd.read_csv('History/' + i, index_col=0)])
df

,ir1,ir2,ir3,ir4,ir5,ir6,ir7,angle,turn,move
ir0,,,,,,,,,,
100.0,46.568542,100.0,32.426407,20.000000,32.426407,20.000000,32.426407,81.603253,5,0
100.0,52.228953,100.0,29.162219,20.114595,29.162219,20.114595,36.671715,76.603253,0,5
100.0,44.479934,100.0,35.664418,25.114595,29.731087,20.552038,37.349666,77.177775,5,0
100.0,51.053810,100.0,32.703884,25.520611,27.155225,20.905300,43.063161,72.177775,5,0
100.0,60.038053,100.0,30.392549,26.214969,25.144210,21.509437,50.871557,67.177775,0,5
...,...,...,...,...,...,...,...,...,...,...
100.0,100.000000,100.0,100.000000,71.743856,62.000920,54.554259,100.000000,72.115312,0,5
100.0,100.000000,100.0,100.000000,76.743856,63.495212,55.894005,100.000000,72.624145,5,0
100.0,100.000000,100.0,100.000000,79.165467,60.228593,57.733554,100.000000,67.624145,0,5
100.0,100.000000,100.0,100.000000,84.165467,62.115480,59.553405,100.000000,68.120302,5,0
100.0,100.000000,100.0,100.000000,87.634154,59.553405,62.115480,100.000000,63.120302,0,5

In [6]:
df.to_csv('merged.csv')